<div id="comments">
  <p class = "comment">
    <%= link_to comment.user.name, user_path(comment.user) %><br />
    <%= comment.body %>
    <% if comment.user == current_user %>
      <%= button_to "Delete", {:controller => "comments", :action => "destroy", :id => comment.id}, class: 'delete-button', :method=>:delete %>
    <% end %>
  </p>
</div>