<h1>All Posts</h1>

<ul id="posts">
  <% @posts.each do |post| %>
    <li class="post">
      Posted by: <%= link_to post.user.name, user_path(post.user) %><br />
      <%= post.body %>
    </li>
  <% end %>
</ul>