/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #18191a;
  color: white;
  margin: auto;
}

.alert, .notice {
  margin: 0;
  text-align: center;
  background-color: #ab3e3e;
  line-height: 3;
  font-weight: bold;
  font-size: 20px;
}

.notice {
  background-color: #2d88ff;
}

h1 {
  text-align: center;
}

a {
  color: #2d88ff;
  text-decoration: none;
}

a:hover {
  color: #006fff;
}

#navbar {
  display: flex;
  border-bottom: 1px solid #3e4042;
  align-items: center;
  background-color: #242526;
}

#navbar a {
  font-weight: bold;
  padding: 20px 5px;
}

#navbar a:hover {
  background-color: #3a3b3c;
}

.navbar-general {
  background-color: #242526;
  padding: 20px;
  flex: 1;
}

.navbar-user {
  margin-right: 20px;
}

.navbar-user .user-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.field_with_errors {
  display: contents;
}

#error_explanation {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ab3e3e;
  font-weight: bold;
  padding: 15px;
  border-radius: 8px;
}

.error-point {
  margin: 4px 0;
}

#flex-container {
  display: flex;
  justify-content: center;
}

#new_user {
  display: flex;
  justify-content: center;
  flex-basis: 800px;
  flex-shrink: 1;
}

#sign-in-container {
  background-color: #242526;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.email-field,
.password-field {
  background-color: #3a3b3c;
  border: 0;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 15px;
  align-self: stretch;
}

#log-in-link,
#log-in-button,
#provider-link,
#reset-password-button {
  background-color: #2d88ff;
  border: 0;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

#log-in-link:hover,
#log-in-button:hover,
#provider-link:hover,
#reset-password-button:hover {
  cursor: pointer;
  background-color: #006fff;
}

#log-in-button {
  margin-bottom: 25px;
  align-self: stretch;
}

#provider-link {
  margin-bottom: 10px;
}

#sign-up-link,
#sign-up-button {
  background-color: #42b72a;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  border: 0;
}

#sign-up-link:hover,
#sign-up-button:hover {
  cursor: pointer;
  background-color: #1fb700;
}

#sign-up-button {
  align-self: stretch;
  margin-bottom: 15px;
}

#reset-password-button {
  margin-bottom: 30px;
}