// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post-container {
  display: flex;
  justify-content: center;
  align-self: stretch;
}

#posts {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 800px;
  flex-shrink: 1;
}

.post {
  background-color: #242526;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  margin: 15px auto;
  box-sizing: border-box;
}

#post-flex {
  flex-basis: 800px;
  flex-shrink: 1;
}

.post-user {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.post-user a {
  margin-left: 8px;
}

.post-photo {
  width: 100%;
}

.like-comment-container {
  display: flex;
}

.like-button-form {
  display: inline;
}

.like-button, .post-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  background-color: #2d88ff;
  color: white;
  border: 0;
  font-weight: bold;
  outline: none;
}

.like-button:hover, .post-button:hover, #new-post-button:hover {
  cursor: pointer;
  background-color: #006fff;
}

.post-comment {
  display: flex;
  flex: 1;
  align-items: center;
}

.like-comment-count {
  border-bottom: 1px solid #3e4042;
  padding: 15px 0;
  text-align: right;
  color: #b0b3b8;
  font-size: 14px;
}

#comment-header {
  border-top: 1px solid #3e4042;
  padding-top: 15px;
  margin-bottom: 0;
}

.comment-textarea {
  resize: none;
  font-family: inherit;
  background-color: #3a3b3c;
  border: 0;
  border-radius: 20px;
  flex: 1;
  margin: 0 10px;
  text-align: center;
  outline: none;
  font-size: 16px;
  color: white;
}

#comments {
  display: flex;
  align-items: center;
}

#comments .user-icon {
  margin-top: 16px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.comment {
  background-color: #3a3b3c;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 0;
}

.delete-button {
  margin-top: 16px;
  margin-left: 10px;
  background-color: #ab3e3e;
  border: 0;
  color: white;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  outline: none;
}

.delete-button:hover {
  cursor: pointer;
  background-color: #da2525;
}

#posts-link {
  font-weight: bold;
}

#new-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 800px;
  flex-shrink: 1;
}

#new-post .photo-upload {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

#new-post input[type="file"] {
  display: none;
}

#post-textarea {
  resize: none;
  font-family: inherit;
  background-color: #242526;
  border: 0;
  border-radius: 10px;
  text-align: center;
  outline: none;
  font-size: 20px;
  color: white;
  width: 100%;
  height: 280px;
  padding-top: 25px;
}

#new-post-button {
  background-color: #2d88ff;
  border: 0;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  outline: none;
  width: 100%;
  font-size: 16px;
}