<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type='text/css' media='screen'>
      body { background-color: #18191a; color: white; }
    </style>
  </head>
  <body>
    <h1>Hello <%= @resource.name %>!</h1>

    <p>We're contacting you to notify you that your password has been changed.</p>
  </body>
</html>